<div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow hover:shadow-xl transition">
  <img
    class="rounded-t-lg mx-auto mt-4 w-36 h-36 object-cover"
    [src]="producto.imagen"
    [alt]="producto.nombre"
  />
  <div class="p-5">
    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
      {{ producto.nombre }}
    </h5>
    <p class="mb-3 font-normal text-gray-700">
      {{ producto.descripcion }}
    </p>
    <span
      class="inline-block px-3 py-1 bg-blue-100 text-blue-800 text-lg rounded-full"
    >
      ${{ producto.precio }}
    </span>
  </div>
</div>
